.message_preview
  .datum=l message.updated_at, format: :short_day_time
  .label
    .name
      von
      %strong= message.sender.name_text
    .email= message.sender.contact.email
  
  .content
    = h_format message.content
  

