= form_for @membership do |f|
  - if @membership.errors.any?
    #error_explanation
      %h2= I18n.t( 'errors.template.header', model: I18n.t( "activerecord.models.membership.one" ), count: @membership.errors.count )
      %ul
        - @membership.errors.messages.each do |message|
          %li= I18n.t 'errors.format', message: message.last.first, attribute: I18n.t( "activerecord.attributes.membership.#{message.first}" )
        
      
    
  
  = render 'contacts/subform_membership', form: f, contact: @membership.contact
  
  .field
    = f.label :gender
    = f.select :gender, Membership.t_gender_select
    .help Welchem Geschlecht würdest Du Dich zuordnen?
  
  .field
    = f.label :birth_on
    = f.date_select :birth_on, start_year: 1930, end_year: ( Time.zone.now - 12.years ).year, include_blank: true
  
  %fieldset
    %legend Adresse
    .field
      .help Wir brauchen Deine Adresse, um dich postalisch anschreiben zu können.
    
    .field
      = f.label :street
      = f.text_field :street
    
    .field
      = f.label :housenr
      = f.text_field :housenr
    
    .field
      = f.label :plz
      = f.text_field :plz
    
    .field
      = f.label :city
      = f.text_field :city
    
  
  .field
    = f.label :other_memberships
    = f.text_area :other_memberships
    .help Bei welchen anderen Organisationen warst du oder bist du Mitglied?
  
  %fieldset
    %legend Mitgliedsbeitrag
    
    .help
      Die
      = h_orga_name
      erhebt Mitgliedsbeiträge in freiwilliger Höhe. Ziel ist ein Beitrag von 0,5% des jeweiligen Einkommens. Es bestimmt jedoch jedes Mitglied selbst, ob er/sie sich danach richten möchte.
      = link_to 'Mehr Infos'.html_safe, '#', data: { action: 'show_hide', sel: '#fee_help' }
    
    .help#fee_help.initially_hidden
      Die Beiträge werden im Voraus je Zahlungszeitraum erhoben. Beitragshöhe, Zahlungsweise und Zahlungsfrequenz lassen sich zu jedem Zahlungszeitraumsanfang auf Antrag ändern.
    
    .field
      = f.label :fee_amount
      = f.text_field :fee_amount
    
    .field
      = f.label :fee_period
      = f.select :fee_period, Membership.t_period_select
    
    .field
      = f.label :fee_mode
      = f.select :fee_mode, Membership.t_mode_select, {}, data: { sel: '#fee_mode_sepa' }
    
    #fee_mode_sepa{ class: h_fee_mode_class, data: { action: 'select_shows', which: '#membership_fee_mode', values: 'direct_debit' } }
      .field
        = f.label :account_owner
        = f.text_field :account_owner
      
      .field
        = f.label :iban
        = f.text_field :iban
      
      .field
        = f.check_box :accepts_debit
        = f.label :accepts_debit do
          Ich ermächtige
          = h_orga_name
          hiermit, den Mitgliedsbeitrag von meinem Konto mittels Lastschrift einzuziehen.
          = link_to 'Mehr Infos'.html_safe, '#', data: { action: 'show_hide', sel: '#sepa_help' }
        .help#sepa_help.initially_hidden
          Der Mitgliedsbeitrag wird regelmäßig mittels SEPA-Lastschrift von meinem Konto eingezogen. Ich kann innerhalb von acht Wochen, beginnend mit dem Belastungsdatum, die Erstattung des belasteten Betrages verlangen. Es gelten dabei die mit meinem Kreditinstitut vereinbarten Bedingungen. Das Mandat gilt für eine wiederkehrende Zahlung. Die Mandatsreferenz wird separat mitgeteilt.
          Gläubiger-Identifikationsnummer IBAN (Organisation, Adresse)
        
      
    
  
  %fieldset
    %legend Aufnahme
    
    .field
      = f.label :recommendation
      = f.text_field :recommendation
      .help
        Mit welchen Menschen aus der
        = h_orga_name
        hattest du bisher Kontakt und eventuell worüber.
      
    
    .field
      = f.label :phone_nr
      = f.text_field :phone_nr
      .help Wir würden uns gerne bei dir vorstellen und mit dir über deine Beweggründe und Ziele sprechen. Vielleicht hast du auch Anregungen für uns.
    
    .field
      = f.check_box :accepts_rules
      = f.label :accepts_rules do
        Hiermit stimme ich dem
        = link_to 'Grundkonsens von ' + h_orga_name, '/grundkonsens'
        zu und richte mein, die Organisation betreffendes, Handeln nach diesem aus.
      
    
    .field
      = f.check_box :wants_membership
      = f.label :wants_membership do
        Hiermit werde ich Mitglied von
        = h_orga_name + '.'
        Ich bin damit einverstanden, dass meine personenbezogenen Daten unter Beachtung der DSGVO (Verordnung EU 2016/679) gespeichert und innerhalb der Organisation verarbeitet werden. Eine Weitergabe an Dritte zu anderen Zwecken wird ausgeschlossen. Ich stimme zu, dass mein Vorname, Nachname, Wohnort sowie die angegebene E-Mail-Adresse intern an Mitglieder zum Aufbauen von Ortsgruppen weitergegeben wird. Als Mitglied erhalte ich automatisch den Newsletter der Organisation. Eine Abmeldung davon ist jederzeit möglich.
      
    
  
  .actions
    = f.submit "Mitgliedschaft beantragen", class: 'button main'
  

