%h1 Alle Mitgliedschaften

- if false
  %p
    = link_to new_membership_path, class: 'button' do
      = image_tag 'sym/plus_w100.svg', size: '20x20'
      Neu
    
  

%ul.letters_list
  %li= link_to 'all', memberships_path
  
  - @letters.each do |letter|
    %li= link_to letter.letter.capitalize, memberships_path( letter: letter.letter )
  

- if @memberships.blank?
  .list_title
    = pluralize Membership.count, 'Mitglieder / Anträge'
    &nbsp;&nbsp;
    = link_to image_tag( 'sym/envelope_w100.svg' ), new_message_path( to: 'members' ), remote: true, class: 'sym_button'
  
  .remote_form.initially_hidden#new_message
  
  %ul.info_list
    %li
      davon
      %strong= link_to Membership.unconfirmed.count, memberships_path( letter: 'unconfirmed' )
      unbestätigt
    
    %li
      davon
      %strong= link_to Membership.applications.count, memberships_path( letter: 'new' )
      neue Anträge
    
    %li
      davon
      %strong= link_to Membership.accepted.count, memberships_path( letter: 'accepted' )
      angenommen
    
    %li
      davon
      %strong= link_to Membership.member.count, memberships_path( letter: 'member' )
      Mitglieder
    
    %li
      = Membership.want_newsletter.count
      wollen Newsletter
    
    %li= "bringen Budget von #{number_to_currency( Membership.generate_funding )} pro Monat"
    %li= "bringen Budget von #{number_to_currency( Membership.potential_funding )} pro Monat, wenn alle Anträge angenommen werden"
  
- else
  %ul.memberships_list
    - the_date = Time.mktime( 1970, 1, 1 )
    - @memberships.each do |membership|
      - if the_date != membership.starts_at.at_midnight and @dates_list
        - the_date = membership.starts_at.at_midnight
        %li.separator
          =l the_date, format: :short_day
        
      
    
      %li= render 'preview', membership: membership
    
  

