- cancel_action = capture do
  = link_to 'Abbrechen', decisions_path, class: 'button'


%h1 Neue Entscheidung
%p
  Hier kannst du eine neue Entscheidung anstossen.
  %br
  Beschreibe dazu präzise, zu welcher Fragestellung, du Abstimmungsvorschläge anbieten möchtest.

= render 'form', cancel_action: cancel_action
