- cancel_action = nil unless defined? cancel_action

= form_for @newsletter do |f|
  - if @newsletter.errors.any?
    #error_explanation
      %h2= "#{pluralize(@newsletter.errors.count, "error")} prohibited this newsletter from being saved:"
      %ul
        - @newsletter.errors.full_messages.each do |message|
          %li= message
        
      
    
  
  .field
    = f.label :content, 'Anreisser (max. 250 Zeichen)'
    .help Hier eine knackige kurze Zusammenfassung, die den Leser:innen Lust auf das Lesen machen soll.
    = f.text_area :content, rows: 5, placeholder: 'z.B. das wichtigste in max. 250 Zeichen'
  
  .field
    = f.label :send_at
    = f.datetime_select :send_at
  
  .actions
    = cancel_action
    = f.submit
  

