- initially_hidden = false unless defined? initially_hidden
- cancel_action = nil unless defined? cancel_action

= form_for [ @reward.funding, @reward ] do |f|
  - if @reward.errors.any?
    #error_explanation
      %h2=t( 'errors.template.header', model: I18n.t( "activerecord.models.reward.one" ), count: @reward.errors.count )
      %ul
        - @reward.errors.messages.each do |message|
          %li=t 'errors.format', message: message.last.first, attribute: I18n.t( "activerecord.attributes.reward.#{message.first}" )
        
      
    
  
  .field
    = f.label :status
    = f.select :status, Reward::STATUS_OPTIONS
  
  .field.picture
    = f.label :picture
    - if @reward.has_picture?
      = render 'general/picture_preview', entity: @reward
    
    = f.file_field :picture
  
  .field
    = f.label :price
    = f.number_field :price, step: 0.01, placeholder: 'z.B. 11,50'
  
  .field
    = f.label :title
    = f.text_field :title, placeholder: 'z.B. Spender*innenurkunde'
  
  .field
    = f.label :category
    = f.text_field :category, placeholder: 'z.B. Ereignisse'
  
  .field
    = f.label :available
    .help
      Wie oft kann das Produkt bestellt werden? Wenn unbegrenzt, dann
      %strong nichts
      eintragen.
    
    = f.number_field :available
  
  .field
    = f.label :description
    .help Hier eine aussagekräftige Beschreibung des Produkts, die den Spender:innen Lust auf das Dankeschön machen soll.
    = f.text_area :description, rows: 5, placeholder: 'z.B. Urkunde auf handgeschöpftem Papier mit Unterschrift...'
  
  .field
    = f.label :delivery
    .help Freies Textfeld mit Details zur Lieferung.
    = f.text_field :delivery, placeholder: 'z.B. ab März 2022'
  
  .actions
    = cancel_action
    = f.submit
  

