%li.reward.collapsed
  - if reward.has_picture?
    = render 'general/picture_article', entity: reward
  
  .reward_infos
    .amount= number_to_currency reward.price
    
    .title= reward.title
    
    .description= h_format reward.description
    
    .delivery
      - unless reward.delivery.blank?
        Lieferung
        = reward.delivery
      - else
        keine Lieferinfos
      
    
    .action_buttons
      = link_to 'Auswählen', new_reward_donation_path( reward ), class: 'button'
      
      - if h_reward_editable?( reward )
        = link_to image_tag( 'sym/pencil_w100.svg' ), edit_reward_path( reward ), class: 'sym_button'
        = link_to image_tag( 'sym/bin_w100.svg' ), reward, method: :delete, class: 'sym_button danger', data: { confirm: "Willst du wirklich das Produkt '#{reward.title} löschen?\n\nDie Aktion kann nicht rückgängig gemacht werden." }
      
    
    .ordered
      - if reward.ordered > 0
        = reward.ordered
      - else
        noch keins
      
      - unless reward.available.blank?
        von
        = reward.available
      
      bestellt
    
  

