%h1 Anmeldung erfolreich
%p
  Du hast dich zur Veranstaltung
  %span.event_name= @registration.event.title
  angemeldet. Wir haben dir eine E-Mail zur Bestätigung an
  %code= @registration.contact.email
  gesendet.

%p
  Bitte klicke dort den Link, um dich verbindlich anzumelden.

