%p
  - unless order.invoice_org_text.blank?
    %strong= order.invoice_org_text
    %br
  
  - unless order.invoice_name_text.blank?
    - unless order.invoice_org_text.blank?
      z.Hd.
    
    = order.invoice_name_text
    %br
  
  = order.invoice_street_housenr_text
  %br
  = order.invoice_plz_city_text
  %br
  = order.invoice_country_text

