%p
  %strong= h_orga_name
  ist eine generelle Web Plattform für Organisationen.

%p.list_title
  Sie bietet Funktionalität für

%ul
  %li statische Seiten
  %li blogähnliche Artikel
  %li Termine in einem Kalender
  %li Aufnahme von Mitgliedern mit Zugang
  %li Registrierung für Newsletter und Versand

= render 'articles/teaser', articles: Article.published.latest( 3 )

%p
  Die Plattform basiert technisch auf
  = link_to 'RubyOnRails', 'https://rubyonrails.org'
  %br
  Funktionen werden mit den Rails Standardmechanismen umgesetzt und als Blanko-WebApp angeboten um eine Modifikation für spezifische Organisationen so einfach, wie möglich zu machen.

= render 'events/teaser', events: Event.upcoming( 3 )

%p
  Viele dieser Funktionen sind noch nicht fertig implementiert.

%p
  Mach mit, abonniere unseren Newsletter oder folge uns auf Social Media

.action_buttons
  = link_to 'Abonnieren', new_contact_path, class: 'button'
  
  = render 'general/social_media_buttons'

