.field
  = f.check_box :wants_news
  = f.label :wants_news, "Ich möchte den Newsletter abonnieren"

.field
  = f.check_box :offers_help
  = f.label :offers_help, "Ich helfe gerne mit, sprecht mich an."

- if contact.new_record?
  .field
    = f.check_box :read_privacy
    = f.label :read_privacy do
      Ich habe die
      = link_to 'Hinweise zum Datenschutz', datenschutz_path
      gelesen
    
  

