%h1= contact.name_text
%p.sub_header
  = contact.email
  = link_to image_tag( 'sym/envelope_w100.svg' ), new_contact_message_path( contact ), remote: true, class: 'sym_button', title: 'E-Mail an Kontakt senden'
  

.remote_form.initially_hidden#new_message
