- h_title 'Role Overview'

%h1
  %span{ class: current_account.status == 'admin' ? 'danger' : nil }
    = current_account.status.capitalize
  
  Übersicht

%p.help_text
  Hier findest du eine Zusammenfassung aller Möglichkeiten, die du auf der Website hast und bekommst kurze Erklärungen zum Start.

%p
  Du hast die Rolle
  %strong= current_account.status.capitalize

= render 'overview_pages'
= render 'overview_articles'
= render 'overview_events'
= render 'overview_newsletters'
