- cancel_action = capture do
  = link_to 'Abbrechen', proposals_path, class: 'button'


%h1 Neuer Vorschlag
%p
  Hier kannst du einen neuen Vorschlag für die Fragestellung
  %br
  %strong= @proposal.decision.title
  %br
  einbringen.

%p
  Beschreibe dazu präzise, was du zur Abstimmung vorschlägst.

= render 'form', cancel_action: cancel_action
