- initially_hidden = false unless defined? initially_hidden
- cancel_action = nil unless defined? cancel_action

= form_for @funding do |f|
  - if @funding.errors.any?
    #error_explanation
      %h2=t( 'errors.template.header', model: I18n.t( "activerecord.models.funding.one" ), count: @funding.errors.count )
      %ul
        - @funding.errors.messages.each do |message|
          %li=t 'errors.format', message: message.last.first, attribute: I18n.t( "activerecord.attributes.funding.#{message.first}" )
        
      
    
  
  .field
    = f.label :status
    = f.text_field :status
  
  .field
    = f.label :title, 'Titel*'
    = f.text_field :title, placeholder: 'z.B. Online Klima Konferenz'
  
  .field
    = f.label :slogan
    = f.text_field :slogan
  
  .field.picture
    = f.label :picture
    - if @funding.has_picture?
      .picture= image_tag @funding.picture_preview
    
    = f.file_field :picture
  
  .field
    = f.label :short_text, 'Kurztext (max. 250 Zeichen)'
    .help Hier eine knackige kurze Zusammenfassung, die den Leser:innen Lust auf das Lesen machen soll.
    = f.text_area :short_text, rows: 5, placeholder: 'z.B. das wichtigste in max. 250 Zeichen'
  
  .field
    = f.label :goal_1
    = f.number_field :goal_1
  
  .field
    = f.label :goal_1_use
    = f.text_field :goal_1_use
  
  .field
    = f.label :goal_2
    = f.number_field :goal_2
  
  .field
    = f.label :goal_2_use
    = f.text_field :goal_2_use
  
  .field
    = f.label :goal_3
    = f.number_field :goal_3
  
  .field
    = f.label :goal_3_use
    = f.text_field :goal_3_use
  
  .field
    = f.label :starts_at
    = f.datetime_select :starts_at
  
  .field
    = f.label :ends_at
    = f.datetime_select :ends_at
  
  .field
    = f.label :performance_period
    = f.text_field :performance_period
  
  .field
    = f.label :description
    = f.text_area :description, rows: 5
  
  .field
    = f.label :category
    = f.text_field :category
  
  .field
    = f.label :location
    = f.text_field :location
  
  .field
    = f.label :url
    = f.text_field :url
  
  .field
    = f.label :some_1
    = f.text_field :some_1
  
  .field
    = f.label :some_2
    = f.text_field :some_2
  
  .field
    = f.label :some_3
    = f.text_field :some_3
  
  .actions
    = cancel_action
    = f.submit
  

