- percentage = funding.collected_percentage

.progress_block
  .label bisher gespendet
  
  .progress_graph
    .goal_indicator
      &nbsp;
    
    .progress_bar{ class: percentage > 50 ? 'big' : 'small', style: "width: #{percentage}%"}
      = number_to_currency funding.collected_amount
    
  
  .row
    .label
      = "das sind #{percentage.to_i}% vom"
      %br
      %strong
        Ziel
        = number_to_currency funding.goal_amount
      
    
    .label.end
      noch
      %br
      %strong= funding.time_left_text
    
  

