- cancel_action = capture do
  = link_to 'Abbrechen', fundings_path, class: 'button'


%h1 Neue Finanzierung
%p
  Hier kannst du eine neue Finanzierung für ein Projekt auf der Website erstellen.

= render 'form', cancel_action: cancel_action
