- h_page_title @funding.title
- h_description truncate( strip_tags( @funding.short_text ), length: 250 )
- if @funding.has_picture?
  - h_image full_url_for( @funding.picture_twitter )


%article.funding_detail
  .banner_block
    .banner= image_tag @funding.picture_article
    
    - unless @funding.published?
      .status= @funding.status
    
    .text_block
      %h1.title= @funding.title
      .slogan= @funding.slogan
    
  
  - if h_funding_actions?
    .action_buttons.internal
      - if h_can_publish_funding?
        = link_to 'Freigeben', publish_funding_path( @funding ), method: :put, class: 'button', title: 'Fundin für die Öffentlichkeit sichtbar machen'
      
      - if h_funding_editable?
        = link_to image_tag( 'sym/pencil_w100.svg' ),
              edit_funding_path( @funding ),
              class: 'sym_button', title: 'Finanzierung ändern'
        = link_to image_tag( 'sym/bin_w100.svg' ),
              @funding, method: :delete,
              class: 'sym_button danger', title: 'Finanzierung löschen'
      
      .hint_text Finanzierung bearbeiten
    
  
  .short_infos_block
    .short_text= h_format @funding.short_text
    
    .owners_block
      .label Hinter dem Projekt stehen
      .row
        = link_to @funding.account, class: 'owner', title: @funding.account.displayname do
          = image_tag @funding.account.picture_preview || 'default_user.jpg', class: 'picture'
        
        - @funding.owners.each do |owner|
          = link_to owner.account, class: 'owner', title: owner.account.displayname do
            = image_tag owner.account.picture_preview || 'default_user.jpg', class: 'picture'
          
        
    
  
  .progress_actions_block
    = render 'progress_block', funding: @funding
    
    .share_buttons
      = link_to 'Unterstützen', '#support_form', class: 'button main'
      .row
        = link_to 'Folgen', new_contact_path, class: 'button'
        = link_to 'Teilen', '#social_media_buttons', class: 'button'
      
    
  
  .supporters_block
    Bisher
    %strong= @funding.funders
    Unterstützer*innen
  
  .funding_subnavi_block
    .funding_subnavi
      = link_to 'Projekt', '#', class: 'tab active'
      = link_to 'Blog', '#', class: 'tab'
      = #link_to 'Testimonials', '#', class: 'tab'
      = link_to 'Unterstützer*innen', '#', class: 'tab'
    
  
  = render 'show_project'

