// --- COLORS THEME ----------------------------

$theme_col: <%= Rails.application.config.orga_color %>;

$akzent_col: hsl( 40, 30%, 40% );
$akzent_2_col: hsl( 118, 56%, 47% ); // #3ABA35
$akzent_3_col: #D60078;

$akzent_bgcol: lighten( $akzent_col, 50 );
$akzent_2_bgcol: lighten( $akzent_2_col, 45 );
$akzent_3_bgcol: lighten( $akzent_3_col, 52 );

$link_col: hsl( 220, 100%, 40% );
