// ---------------------------------------------

@font-face {
  font-family: 'DIN';
  src: local( 'D-DIN' ),
       asset-url( 'D-DIN.otf' ) format( 'opentype' );
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'DIN';
  src: local( 'D-DIN-Bold' ),
       asset-url( 'D-DIN-Bold.otf' ) format( 'opentype' );
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'DIN';
  src: local( 'D-DIN-Italic' ),
       asset-url( 'D-DIN-Italic.otf' ) format( 'opentype' );
  font-weight: normal;
  font-style: italic;
}

