// Place all the styles related to the Articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'colors';
@import 'constants';
@import 'mixins';

// ---------------------------------------------

.accounts_list.admin {
  .account_preview {
    .picture {
      float: left;
      max-width: 5rem;
      max-height: 5rem;
      margin: -1rem 1rem -1rem -1.5rem;
      padding: 0;
      
      .icon.broken,
      .icon.missing {
        width: 5rem;
        padding: 1rem;
      }
    }
    .status {
      top: 1rem;
      left: 0.5rem;
      right: unset;
      font-size: 0.84 * 0.84em;
    }
    .title {
      padding: 0;
      font-size: 1.19rem;
      
      &.blank {
        font-weight: normal;
        font-style: italic;
      }
    }
    .next_arrow {
      margin: 0.5rem -0.5rem 0.5rem 0.5rem;
    }
  }
}
@media ( min-width: $more_than_smartphone ) {
  .accounts_list.admin {
    .account_preview {
      width: 18rem;
      height: unset;
      margin-bottom: 1rem;
      
      .picture {
        margin: 0 1rem 0 0;
      }
      .next_arrow {
        margin-top: 1.5rem;
      }
    }
  }
}

.tab_view {
  .account_details {    
    .picture {
      margin: 1rem 1.5rem;
    }
    
    .status {
      top: 2rem;
      background-color: $paper_col;
    }
  }
}
@media ( min-width: $more_than_smartphone ) {
  .tab_view {
    .account_details {
      .picture {
        margin: 1rem 1rem 1rem 1.5rem;
        padding: 0;
      }
    }
  }
}

@media ( min-width: $more_than_smartphone ) {
  .page_admin_accounts_index #body {
    margin-left: 2rem;
    margin-right: 2rem;
    padding-top: 0;
    max-width: unset;
  }
}

