@import 'colors';
@import 'constants';
@import 'mixins';

// ---------------------------------------------

footer {
  min-height: $footer_min_height;
  padding: 1rem 0;
  color: $footer_col;
  background-color: $footer_bgcol;
  box-shadow: inset 0px 12px 8px -8px $shade_20;
  
  p {
    margin: 0;
    padding: 0 1.5rem;
    opacity: 0.5;
  }
}
@media ( min-width: $more_than_smartphone ) {
  footer {
    p {
      max-width: $max_page_width;
      margin: 0 auto;
      padding: 0 1.5rem;
    }
  }
}
@media ( min-width: $min_width_plus_menu ) {
  footer {
    padding-left: $menu_width;
  }
}
