// Place all the styles related to the Articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'colors';
@import 'constants';
@import 'mixins';

// ---------------------------------------------

.multiteaser {
  margin: 1rem 0;
  padding: 0.5rem 0 1.5rem;
  background-color: $akzent_bgcol;
  
  h2 {
    margin: 0.5rem 0 1rem;
    padding: 0 1.5rem;
    font-size: 1rem;
    
    .link {
      float: right;
      width: auto;
      font-weight: normal;
    }
  }
  
  .multiteaser_scroller {
    @include clearfix;
    padding-left: 1.5rem;
    overflow-x: scroll;
    
    .multiteaser_scroller_content {
      display: flex;
      
      .preview {
        display: block;
        flex: 1 0 260px;
        width: 260px;
        padding-right: 1.5rem;
        color: $text_col;
        text-decoration: none;
        white-space: normal;
        overflow: hidden;
        
        .picture {
          width: 100%;
        }
        .title {
          padding: 1rem 0 0.25rem;
          line-height: 1.1;
          
          color: $akzent_col;
          font-size: 1.19 * 1.19rem;
          font-weight: bold;
          
        }
        .date,
        .label {
          color: $light_text_col;
        }
        .next_arrow {
          float: right;
          width: 2rem;
          margin: 0.75rem 0 0.5rem 0.5rem;
        }
        .description {
          margin-top: 0.5rem;
        }
      }
    }
  }
}
@media ( min-width: $more_than_smartphone ) {
  .multiteaser {
    .multiteaser_scroller {
      .multiteaser_scroller_content {
        .preview {
          flex: 1 0 370px;
          
          .picture {
            display: block;
            margin-left: 0;
            margin-right: 0;
            padding: 0;
          }
        }
      }
    }
  }
}
