// Place all the styles related to the Articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'colors';
@import 'constants';
@import 'mixins';

// ---------------------------------------------

.orders_list {
  @include item_list;
  
  .order_preview {
    border-top: 1px solid $line_col;
    
    .token + .title {
      padding-top: 0;
    }
    .title {
      padding: 0.5rem 0 0.25rem;
      line-height: 1.1;
    }
    .next_arrow {
      margin: 0.75rem -0.5rem 0.5rem 0.5rem;
    }
  }
}
@media ( min-width: $more_than_smartphone ) {
  .orders_list {
    .order_preview {
      border-top: none;
      padding: 1.5rem;
      
      .title {
        padding-top: 0;
      }
      .date {
      }
      .description {
        clear: both;
        margin-left: 37%;
        text-align: justify;
      }
    }
  }
}
