Willkommen, <%= @contact.name_text %>

Du hast Dich vor kurzem für den Termin
<%= @event.title %>
am <%= strip_tags @event.starts_at_text %> angemeldet.

Um dies zu bestätigen, klicke bitte folgenden Link:
<%= @confirmation_link %>

<%= render 'general/mailer_regards' %>
