.internal_actions
  %header
    .public Dieser Bereich ist öffentlich sichtbar &uarr;
    .private Der farbige Bereich ist nur für dich sichtbar &darr;
  
  .help_text
    Oben im weissen Bereich siehst du deine persönliche Profil Seite.
    - if h_is_team?
      Du bist Teil des Teams und damit ist diese Seite öffentlich sichtbar.
    - else
      Wenn das Team dich akzeptiert und freigeschaltet hat, ist sie öffentlich sichtbar. Kontaktiere deine Ansprechperson, wenn du ins Team möchtest.
    
  
  .action_buttons
    = button_to 'Abmelden', logout_path, method: :delete, class: 'danger'
    &nbsp;und den internen Bereich verlassen
  
  %hr
  = render 'show', account: @account
  
  %p= link_to 'Bearbeiten', edit_account_path( @account, what: 'priv' ), class: 'button'
  
  %hr
  = render 'contacts/show', contact: @account.contact
  
  %p= link_to 'Bearbeiten', edit_contact_path( @account.contact ), class: 'button'
  
  - if h_app_feature? :allow_membership
    %hr
    - unless @account.contact.membership
      %h4 Weitermachen?
      - if @account.is_team?
        %p
          Im Augenblick bist du Team-Mitglied.
        
      - else
        %p
          Im Augenblick bist du Interessent:in.
        
      
      %p
        Wenn du dich noch mehr einbringen möchtest, kannst du auch eine Mitgliedschaft bei
        = h_orga_name
        beantragen.
        %br
        = link_to 'zum Mitgliedsantrag', new_membership_path
      
    - else
      %h4 Mitgliedschaft
      %p
        - if @account.contact.membership.accepted?
          Du bist bei uns Mitglied
        - else
          Du hast bei uns die Mitgliedschaft beantragt
        
        und das freut uns, danke!
      
    
  

