- # --------------------------------------------
%p.form_explanation
  Um Ihr Password neu zu setzen, gib bitte Deine E-Mail Adresse an. Wir
  %strong senden Dir dorthin einen Link
  zum Neusetzen.

= form_tag do
  .field
    = label_tag :email
    = text_field_tag :email, params[ :email ], placeholder: 'z.B. lisa.muster@organisator.org'
  
  .actions.clearfix
    = submit_tag 'Anfordern', |
          class: 'button float-right'
    
  

